@model Service_Layer.ViewModels.UserStatsViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<head>
    <meta charset="utf-8">
    <link href="~/css/Dashboard.css" rel="stylesheet" />
</head>


<div class="dashboardContent">
    <div class="userImage">
        <img src="~/images/user-placeholder.png" />
    </div>
    <div class="row statsContainer" style="height: 1000px; padding: 6%;">

        @* Introduction message *@
        <div class="col-md-6" style="padding-top: 5%; font-weight: bold;">
            <h2 style="color: #707070; margin: 0; display: inline-block; height: auto; width: auto">Welcome back, </h2>
            <h2 style="color: #e91e63; margin: 0; display: inline-block; height: auto; width: auto;"> @Model.User.FirstName @Model.User.LastName</h2>
        </div>


        @* User Stats (right panel of the menu) *@
        <div class="col-md-4" style="padding: 0; width: 40%; min-width: 350px; float: right;">


            @* Personal Details *@
            <div class="" style="height: 320px; border: 1px solid #e91e63; overflow: hidden; padding: 1%; background-color: #f5f5f5;">

                @* Edit Icon *@
                <a style="position: absolute; top: 0; right: 0; margin: 2%;">
                    <i style="font-size: 20px; color: #707070;" class="fas fa-pen"></i>
                </a>

                @* Title *@
                <h3 style="margin: 3% 0 6% 0; text-align: center; text-decoration: underline;">Personal Details</h3>

                @* EMail address *@
                <div class="row" style="background-color: #ffffff; padding: 2%; margin: 2.5% 3.5% 0% 3.5%; border: 1px solid #dddddd;">
                    <div class="col-md-4" style="padding: 0;">
                        <i style="font-size: 16px; color: #e91e63; margin-right: 3%;" class="fas fa-envelope-open-text"></i>
                        <span style="color: #e91e63; font-weight: bold; font-size: 16px;">E-Mail:</span>
                    </div>
                    <div class="col-md-7" style="padding: 0;"><span style="font-size: 16px;">@Model.User.Email</span></div>
                </div>

                @* Living Address *@
                <div class="row" style="background-color: #ffffff; padding: 2%; margin: 2.5% 3.5% 0% 3.5%; border: 1px solid #dddddd;">
                    <div class="col-md-4" style="padding: 0;">
                        <i style="font-size: 16px; color: #e91e63; margin-right: 3%;" class="fas fa-home"></i>
                        <span style="color: #e91e63; font-weight: bold; font-size: 16px;">Address:</span>
                    </div>
                    <div class="col-md-7" style="padding: 0;"><span style="font-size: 16px;">@Model.User.StreetAddress</span></div>
                </div>

                @* Postal Codes *@
                <div class="row" style="background-color: #ffffff; padding: 2%; margin: 2.5% 3.5% 0% 3.5%; border: 1px solid #dddddd;">
                    <div class="col-md-4" style="padding: 0;">
                        <i style="font-size: 16px; color: #e91e63; margin-right: 3%;" class="fas fa-address-card"></i>
                        <span style="color: #e91e63; font-weight: bold; font-size: 16px;">ZIP Code:</span>
                    </div>
                    <div class="col-md-7" style="padding: 0;"><span style="font-size: 16px;">@Model.User.ZipCode @Model.User.City</span></div>
                </div>

                @* Country *@
                <div class="row" style="background-color: #ffffff; padding: 2%; margin: 2.5% 3.5% 0% 3.5%; border: 1px solid #dddddd;">
                    <div class="col-md-4" style="padding: 0;">
                        <i style="font-size: 16px; color: #e91e63; margin-right: 3%;" class="fas fa-map-marker-alt"></i>
                        <span style="color: #e91e63; font-weight: bold; font-size: 16px;">Country:</span>
                    </div>
                    <div class="col-md-7" style="padding: 0;"><span style="font-size: 16px;">@Model.User.Country</span></div>
                </div>

            </div>


            @* User Stats on Platform *@
            <div class="" style="height: 140px; border: 1px solid #e91e63; overflow: hidden; padding: 1%; background-color: #f5f5f5; margin-top: 10%;">

                @* Title *@
                <h3 style="margin: 3% 0 6% 0; text-align: center; text-decoration: underline;">User Statistics</h3>

                <div class="row" style="background-color: #ffffff; padding: 2%; margin: 2.5% 3.5% 0% 3.5%; border: 1px solid #dddddd;">
                    <div class="col-md-6" style="padding: 0;">
                        <i style="font-size: 16px; color: #e91e63; margin-right: 3%;" class="fas fa-video"></i>
                        <span style="color: #e91e63; font-weight: bold; font-size: 16px;">Reviewed Video's:</span>
                    </div>
                    <div class="col-md-5" style="padding: 0;"><span style="font-size: 16px;">@Model.ViewedCount</span></div>
                </div>
            </div>

            @* Global Stats on Platform *@
            <div class="" style="height: 330px; border: 1px solid #e91e63; overflow: hidden; padding: 1%; background-color: #f5f5f5; margin-top: 10%;">

                @* Title *@
                <h3 style="margin: 3% 0 6% 0; text-align: center; text-decoration: underline;">Platform Details</h3>

                <div class="row" style="background-color: #ffffff; padding: 2%; margin: 2.5% 3.5% 0% 3.5%; border: 1px solid #dddddd;">
                    <div class="col-md-6" style="padding: 0;">
                        <i style="font-size: 16px; color: #e91e63; margin-right: 3%;" class="fas fa-clipboard-list"></i>
                        <span style="color: #e91e63; font-weight: bold; font-size: 16px;">Finished Video's:</span>
                    </div>
                    <div class="col-md-5" style="padding: 2% 0 0 0; height: 8.5px;">
                        <div class="tooltip_hoverbox">

                            <div class="progress" style="margin-left: auto; margin-right: auto; width: 100%; height: 5px;">
                                @{ double finishedPercentage = (100 * (double)Model.FinishedVideos / (double)Model.TotalVideos); }
                                <div role="progressbar" class="progress-bar progress-bar-success" style="width: @Math.Round(finishedPercentage, 0)%;"></div>
                            </div>

                            <div class="tooltip_resultbox" style="margin-top: 10px; left: 50%; width: 90%; padding: 0;">
                                <div style="margin: 3px 0 0 0; font-size: 12px;">
                                    <i class="fas fa-percentage" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@Math.Round(finishedPercentage, 2)%
                                </div>
                                <div style="margin: 4px; font-size: 12px;">
                                    <i class="fas fa-flag-checkered" style="margin: 0 8% 0 5%; color: #e91e63;"></i>@Model.FinishedVideos / @Model.TotalVideos
                                </div>
                                <div style="margin: 3px 0 3px 0; font-size: 12px;">
                                    <i class="fas fa-clock" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@Model.UnFinishedVideos Pending
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


        </div>

    </div>
</div>