@model IReadOnlyCollection<Service_Layer.ViewModels.UserManagementViewModel>

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/css/UserManagement.css" rel="stylesheet" />

@*------------------------------------------------------------*@

</head>
<body>
    <div class="ProfileContent" style="margin-top: 2%;">

        <div class="row userProfileRow">


            @* ------------------------------------------------------------------- *@

            @* THE LEFT SIDE COLUMN WITH FILTERS TO APPLY *@

            @* ------------------------------------------------------------------- *@

            <div class="col-sm-3">
                <div class="userFilterColumn" style="background-color: #ffffff; border: 1px solid #bdbdbd; padding: 5%;">
                    <h3 class="text-center" style="color: #e91e63">Filters</h3>

                    <div class="horizontal-line center-block"></div>

                    @*<input id="slider1a" type="text" /><br/>*@

                    @*<div id="flat-slider" class="slider_element"></div>*@


                    <div class="user-filter-box" style="text-align:center; width: 90%; margin: auto;">
                        <h4 style="text-decoration: none; color: #707070;">Divergent PAD-Score</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>
                    <div class="user-filter-box" style="text-align:center; width: 90%; margin: auto;">
                        <h4 style="text-decoration: none; color: #707070;">Divergent IAB-Score</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>


                    <div class="horizontal-line center-block"></div>

                    <div class="user-filter-box" style="text-align:center; width: 90%; margin: auto;">
                        <h4 style="text-decoration: none; color: #707070;">Times Viewed</h4>
                        <div class="row" style="width: 100%; min-height: 28px; max-height: 28px; margin-left:0px; margin-right: 0px;">
                            <div style="margin-left: 5%; margin-right: 5%;">
                                <div style="float: left; width: 25%; overflow: hidden;">
                                    <input type="number" style="width: 100%; border: none; outline: none; background: transparent; border-bottom: 1px solid #707070;" />
                                </div>
                                <div style="float: left; margin-left: 4%; margin-right: 4%; margin-top: 1%;"> - </div>
                                <div style="float: left; width: 25%; overflow: hidden;">
                                    <input type="number" style="width: 100%; border: none; outline: none; background: transparent; border-bottom: 1px solid #707070;" />
                                </div>
                                <div style="float: left; margin-left: 4%; margin-top: 1%;">Videos</div>
                            </div>
                        </div>
                    </div>



                    <div class="horizontal-line center-block"></div>

                </div>
                <div class="" style="padding: 5px 0px 5px 0px; width: 40%; margin-left: 30%; margin-top:3%;">
                    <a class="btn userAddButton" asp-controller="Admin" asp-action="AddUser"
                       style="background-color: #e91e63; color: #ffffff; font-weight: 200; width: 100%;">
                        <i class="fas fa-plus"></i>&nbsp Add User
                    </a>
                </div>
            </div>

            @* ------------------------------------------------------------------- *@

            @* RESULTS BOX WITH THE SEARCH RESULTS AFTER FILTERING THEM OUT *@

            @* ------------------------------------------------------------------- *@


            <div class="col-sm-7 userResultsColumn" style="margin-left: 5%; padding: 1.6%; padding-top: 0.5%; background-color: #ffffff; margin-bottom: 1%; border: 1px solid #bdbdbd">
                <h3 class="text-center" style="color: #e91e63; margin: 3%;">Search Results</h3>

                @* The List of Search Results, looping users *@
                <div class="userSearchResults">
                    @foreach (var user in Model)
                    {
                        <div class="userSearchItem" style="border: 1px solid #e91e63; margin-top: 1%; margin-bottom: 1%; padding: 1.5%; position:relative; overflow: visible;">

                            @* User Profile Image  !! GRAVATAR & PROFILE PICTURE ADDED LATER !! *@
                            <img height="76" width="76" src="~/images/user-placeholder.png" style="float: left; margin-right: 2%; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; border: 1.5px solid #e91e63; border-radius: 39px;" />

                            <div style="height: 25%; max-height: 80px; width: 80%; margin: 0;">
                                @* letter spacing? *@
                                <div>

                                    @* First- and Last name, inclusing the Username *@
                                    <div style="white-space: nowrap; height: 28px;">
                                        <div style="float: left; height: inherit; line-height:28px;"><h3 style="margin: 0; display: inline-block; height: inherit;" id="fullName">@user.User.FirstName @user.User.LastName</h3></div>
                                        <div style="float: left; height: inherit; line-height:28px; margin-left: 2.5%;"><p style="margin: 0; display: inline-block; height: inherit; color: #707070;" id="userName">@user.User.UserName</p></div>
                                    </div>

                                    @* Small piece of extra user details (City, Country, EMail)*@
                                    @{
                                        List<string> userData = new List<string>();
                                        if (user.User.City != null) { userData.Add(user.User.City); }
                                        if (user.User.Country != null) { userData.Add(user.User.Country); }
                                        if (user.User.Email != null) { userData.Add("(" + user.User.Email + ")"); }
                                    }
                                    @if (userData != null)
                                    {
                                        <div style="white-space: nowrap; height: 20px;">

                                            @if (user.User.PhoneNumber == null)
                                            {
                                                <div style="float: left; height: inherit; line-height: 20px;">
                                                    <h5 style="margin: 0; display: inline-block; height: inherit; font-size: 11px; color: #707070; font-style: italic;">@string.Join(", ", userData)</h5>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="float: left; height: inherit; line-height: 20px;">
                                                    <h5 style="margin: 0; display: inline-block; height: inherit; color: #707070; font-style: italic; font-size: 11px;">@string.Join(", ", userData)</h5>
                                                    <div class="user_private_data" style="margin-left: 2%;">
                                                        <i class="fas fa-info" style="font-size: 11px;"></i>
                                                        <div class="user_private_data_text">
                                                            @if (user.User.PhoneNumber != null)
                                                            {<div style="margin: 3px 0 0 0; font-size: 12px;"><i class="fas fa-phone" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@user.User.PhoneNumber</div>}
                                                            @if (user.User.StreetAddress != null && user.User.ZipCode != null && user.User.City != null)
                                                            {<div style="margin: 4px; font-size: 12px;"><i class="fas fa-address-card" style="margin: 0 8% 0 5%; color: #e91e63;"></i>@user.User.StreetAddress @user.User.ZipCode @user.User.City</div>}
                                                            @if (user.User.Country != null)
                                                            {<div style="margin: 3px 0 3px 0; font-size: 12px;"><i class="fas fa-globe-europe" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@user.User.Country</div>}
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<script> $(document).ready(function () { $('[data-toggle="user_private_data"]').tooltip(); }); </script>*@
                                            }
                                        </div>
                                    }

                                    @* Platform Stats of User *@
                                    <div style="white-space: nowrap; height: 28px; margin-top: 1%;">
                                        <div>
                                            <div style="white-space: nowrap; padding: 0; float: left;">
                                                <div style="float: left; height: inherit; line-height: 28px; font-size: 16px;">
                                                    <i class="fas fa-eye" style="color: #e91e63;"></i>&nbsp;@user.RatingCount
                                                </div>
                                            </div>
                                            <div style="padding: 0; float: left; margin-left: 4.5%;">
                                                @if (user.RatingCount > 6)
                                                {
                                                    <div style="float: left; height: inherit; line-height: 28px; font-size: 16px;">
                                                        @if (user.ProcentIABDivergent > 0 && user.ProcentPADDivergent > 0)
                                                        {
                                                            int average = (user.ProcentIABDivergent + user.ProcentPADDivergent) / 2;
                                                            <div><i style="color: #e91e63;" class="fas fa-video-slash"></i>&nbsp;@average%</div>
                                                        }
                                                        else
                                                        { <div><i style="color: #e91e63;" class="fas fa-video-slash"></i>&nbsp;unknown</div>}
                                                    </div>
                                                }
                                                else
                                                { <div style="float: left; height: inherit; line-height: 28px; font-size: 16px;"><i style="color: #e91e63;" class="fas fa-video-slash"></i>&nbsp; nvt</div>}
                                            </div>
                                            <div style="padding: 0; float: left; margin-left: 4.5%;">
                                                <div style="float: left; height: inherit; line-height: 28px; font-size: 28px; font-size: 16px;">
                                                    @if (user.User.IsDisabled == true)
                                                    {<div><i class="fas fa-gavel" style="color: #e91e63;"></i>&nbsp;Disabled</div> }
                                                    else
                                                    { <div><i class="fas fa-gavel" style="color: #e91e63;"></i>&nbsp;Enabled</div>}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div>
                                <div class="row" style="margin-top: 1.5%;">
                                    <div class="col-sm-1" style="width:auto;"><div class="userStatView"><i class="fas fa-eye"></i> @user.RatingCount</div></div>
                                    <div class="col-sm-1" style="width:auto;"><div class="userStatView">@user.ProcentDivergent</div></div>
                                </div>
                            </div>*@
                                </div>

                            </div>

                            <div class="dropdown dropdownVidCat" style="position:absolute; top: 0; right: 0;">

                                <button class="btn btn-secondary dropdown-toggle prim-btn actionMenu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-caret-down"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                                    @if (user.User.IsDisabled == true) {
                                        <a class="dropdown-item" asp-action="EnableAccount" asp-controller="Admin" asp-route-userid="@user.User.UserID">Enable</a>
                                    }
                                    else {
                                        <a class="dropdown-item" asp-action="DisableAccount" asp-controller="Admin" asp-route-userid="@user.User.UserID">Disable</a>
                                        @* <a class="dropdown-item open-ValidateAction" href="#ValidateAction" data-id="@user.User.UserID" data-name="@user.User.FirstName">Disable</a> *@
                                    }

                                    <a class="dropdown-item" asp-action="" asp-controller="Admin">Reset Password</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @* Bottom text and actions, such as the amount of pages. *@
                <div class="userSearchCount" style="margin: 4%;">
                    <h6 class="text-center" style="width: 100%; color: #707070;">@Model.Count Results found</h6>
                </div>
            </div>

        </div>


        @* ------------------------------------------------------------------- *@

        @* THE END OF THE HTML. HET WERD TIJD. *@

        @* ------------------------------------------------------------------- *@


    </div>

</body>
</html>

@*<script>
        $(function () {
            $("#new-slider").slider();
        });
    </script>*@

<div class="modal fade" id="ValidateAction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Disable Account</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to disable the account from: <b><span id="username" value=""/></b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary prim-btn">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-ValidateAction", function () {
        var nameElement = document.getElementById("fullName").innerHTML;
        var mnameElement = document.getElementById("username");
        
        mnameElement.innerHTML = nameElement;
    });
</script>
