@model IReadOnlyCollection<Service_Layer.ViewModels.VideoManagementViewModel>

@{
    ViewData["Title"] = "Video Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @*<script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript" src="~/js/site.min.js"></script>*@
    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
        <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jqueryui.min.css" />
        <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jquery-ui-slider-pips.min.css" />*@
    @*<link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/app.min.css" />*@

    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/js/jquery-plus-ui.min.js"></script>
        <script type="text/javascript" src="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/js/jquery-ui-slider-pips.js"></script>*@



    @*<link rel="stylesheet" href="~/lib/jquery-ui/dist/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/dist/css/jquery-ui.min.css" />*@

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    @*<script type="text/javascript" src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>*@

    <link href="~/css/videomanagement.css" rel="stylesheet" />

    @*<script type="text/javascript" src="~/js/elements/multirange.js"></script>*@

    @*---------------------------------------------------*@

    @*<script>
            var sliderA = new Slider("#slider1a", { min: 0, max: 10, value: [3, 9], focus: true });
        </script>*@

    @*------------------------------------------------------------*@

</head>
<body>
    <div class="ProfileContent">

        <div class="row videoProfileRow">


            @* ------------------------------------------------------------------- *@

            @* THE LEFT SIDE COLUMN WITH FILTERS TO APPLY *@

            @* ------------------------------------------------------------------- *@

            <div class="col-sm-3" style="padding: 0%;">
                <div class="videoFilterColumn" style="background-color: #ffffff; border: 1px solid #bdbdbd; padding: 0px 6% 0px 6%;">

                    <h3 class="text-center" style="color: #e91e63">Filters</h3>

                    <div class="horizontal-line center-block"></div>

                    @*<input id="slider1a" type="text" /><br/>*@

                    @*<div id="flat-slider" class="slider_element"></div>*@


                    <div class="video-filter-box" style="overflow: hidden;">
                        <h4 style="text-decoration: underline; color: #707070;">Pleasure</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>
                    <div class="video-filter-box">
                        <h4 style="text-decoration: underline; color: #707070;">Arousal</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>
                    <div class="video-filter-box">
                        <h4 style="text-decoration: underline; color: #707070;">Dominance</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>


                    <div class="horizontal-line center-block"></div>


                    <div class="video-filter-box">
                        <h4 style="text-decoration: underline; color: #707070; text-align: center;">Filter by Search</h4>
                        <div class="md-form mt-0" style="margin: 5%;">
                            <input class="form-control" type="text" placeholder="Search for Video.." />
                        </div>
                        <div class="md-form mt-0" style="margin: 5%;">
                            <input class="form-control" type="text" placeholder="Search for Users.." />
                        </div>
                        @* INSERT SEARCH BOX *@
                    </div>

                    <div class="horizontal-line center-block"></div>

                    <div class="video-filter-box">
                        <div style="float: left;">
                            <input type="checkbox" style="height: 16px; width: 16px; margin: 2px 2px 2px 2px;" checked>
                        </div>
                        <h4 style="color: #707070; margin-left: 25px;">Completed Video?</h4>
                    </div>


                    <div class="horizontal-line center-block"></div>

                </div>

                <div class="videoDownloadJSON" style="padding: 10% 24% 0% 24%;">
                    <a class="btn btn-warning center-block" asp-controller="Admin" asp-action="ExportToJSON"
                       style="font-weight: 200;">
                        <i class="fas fa-file-download"></i>&nbsp Export all to JSON
                    </a>
                </div>
                @*<div class="videoUploadJSON" style="padding: 5% 28% 0% 28%">
                        <a class="btn btn-success center-block" asp-controller="" asp-action=""
                           style="font-weight: 200;">
                            <i class="fas fa-upload"></i>&nbsp JSON Upload
                        </a>
                    </div>*@
            </div>


            @* ------------------------------------------------------------------------------------ *@

            @* THE USER ACTIONS BOX WITH POSSIBLE BUTTONS SUCH AS *@
            @* DISABLING ACCOUNTS AND REFERENCES TO OTHER PAGES (VIDEO'S RATED FOR EXAMPLE)*@

            @* ------------------------------------------------------------------- -----------------*@


            @*<div class="col-sm-7 userActionsColumn" style="margin-left: 4%;">*@

            @* All buttons in the menu *@
            @*<div class="col-sm-10 userSelActionsContainer">
                <a class="btn btn-default" asp-controller="" asp-action="" style="font-size: 14px; margin: 5px 2px 5px -9px;">
                    <i class="fas fa-times"></i>&nbsp Ban
                </a>
                <a class="btn btn-default" asp-controller="" asp-action="" style="font-size: 14px; margin: 5px 2px 5px 0px;">
                    <i class="fas fa-user-check"></i>&nbsp Check Ratings
                </a>
                <a class="btn btn-default" asp-controller="" asp-action="" style="font-size: 14px; margin: 5px 2px 5px 0px;">
                    <i class="far fa-comment-dots"></i>&nbsp Send Message
                </a>
                <a class="btn btn-default" asp-controller="" asp-action="" style="font-size: 14px; margin: 5px -9px 5px 0px;">
                    <i class="fas fa-exclamation-circle"></i>&nbsp Warn User
                </a>
                </div>*@

            @* The "Add User" Button, which is outside the other box *@
            @*<div class="col-sm-1 userAddContainer" style="margin-left: 6.2%; padding: 5px 0px 5px 0px;">
                <a class="btn btn-warning userAddButton" asp-controller="Admin" asp-action="AddUser"
                   style="background-color: #e91e63; color: #ffffff; font-weight: 200;">
                    <i class="fas fa-plus"></i>&nbsp Add User
                </a>
                </div>*@

            @*</div>*@


            @* ------------------------------------------------------------------- *@

            @* RESULTS BOX WITH THE SEARCH RESULTS AFTER FILTERING THEM OUT *@

            @* ------------------------------------------------------------------- *@


            <div class="col-sm-7 videoResultsColumn" style="margin-left: 5%; padding: 1.6%; padding-top: 0.5%; background-color: #ffffff; margin-bottom: 1%; border: 1px solid #bdbdbd">
                <h3 class="text-center" style="color: #e91e63; margin: 3%;">Search Results</h3>

                @* The List of Search Results, looping users *@
                @foreach (var video in Model)
                {
                    <div class="userSearchItem" style="border: 1px solid #e91e63; margin-top: 1%; margin-bottom: 1%; padding: 1.8%; position:relative;">
                        <div class="row" style="height: 25%;">
                            <div class="col-md-11">
                                <h3 style="margin: 0%;" id="fullName">@video.Title (@video.Video.UrlIdentity)</h3>
                                <div>
                                    <div class="row" style="margin-top:2%; margin-bottom: 1%;">
                                        <div class="col-sm-1" style="width:auto;"><div class="videoStatView">@video.Video.Finished</div></div>
                                        <div class="col-sm-1" style="width:auto;"><div class="videoStatView">9000</div></div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1"><img height="64" width="64" src="@Html.Raw(video.Thumbnail)" style="float: right;" /></div>

                        </div>
                    </div>
                }

                @* Bottom text and actions, such as the amount of pages. *@
                <div class="videoSearchCount" style="margin: 4%;">
                    <h6 class="text-center" style="width: 100%; color: #707070;">@Model.Count Results found</h6>
                </div>
            </div>

        </div>


        @* ------------------------------------------------------------------- *@

        @* THE END OF THE HTML. HET WERD TIJD. *@

        @* ------------------------------------------------------------------- *@


    </div>

</body>
</html>

