@model Service_Layer.ViewModels.VideoManagementViewModel

@{
    ViewData["Title"] = "Video Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/css/videomanagement.css" rel="stylesheet" />

    @*------------------------------------------------------------*@

</head>
<body>
    <div class="ProfileContent" style="margin-top: 2%;">

        <div class="row videoProfileRow">


            @* ------------------------------------------------------------------- *@

            @* THE LEFT SIDE COLUMN WITH FILTERS TO APPLY *@

            @* ------------------------------------------------------------------- *@

            <div class="col-sm-3" style="padding: 0%;">
                <div class="videoFilterColumn">

                    <h3 class="text-center" style="color: #e91e63">Filters</h3>

                    <div class="horizontal-line center-block"></div>

                    @* Pleasure, Arousal and Dominance sliders *@
                    <div class="video-filter-box">
                        <h4 class="videoFilterHeading">Pleasure</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>
                    <div class="video-filter-box">
                        <h4 class="videoFilterHeading">Arousal</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>
                    <div class="video-filter-box">
                        <h4 class="videoFilterHeading">Dominance</h4>
                        <input type="range" multiple min="1" max="100" value="70,100" class="slider int-slider" />
                    </div>

                    <div class="horizontal-line center-block"></div>

                    @* Search boxes *@
                    <div>
                        <h4 class="videoFilterHeading" style="text-align: center;">Filter by Search</h4>
                        <div class="md-form mt-0" style="margin: 5%;">
                            <input class="form-control" type="text" placeholder="Search for Video.." />
                        </div>
                        <div class="md-form mt-0" style="margin: 5%;">
                            <input class="form-control" type="text" placeholder="Search for Users.." />
                        </div>
                    </div>

                    <div class="horizontal-line center-block"></div>

                    @* Checkbox for "Completed Video?" *@
                    <div>
                        <div style="float: left;">
                            <input type="checkbox" style="height: 16px; width: 16px; margin: 2px 2px 2px 2px;" checked>
                        </div>
                        <h4 style="color: #707070; margin-left: 25px;">Completed Video?</h4>
                    </div>

                    <div class="horizontal-line center-block"></div>

                </div>


                @*---------------------------------------------------------*@


                @* To Download all Video's in JSON *@
                <div class="videoDownloadJSON" style="padding: 10% 24% 0% 24%;">
                    <a class="btn btn-success center-block" asp-controller="Admin" asp-action="ExportToJSON"
                       style="font-weight: 200;">
                        <i class="fas fa-file-download"></i>&nbsp Export all to JSON
                    </a>
                </div>

                @* Upload JSON Button *@
                <div style="padding: 10% 15% 0% 15%; overflow: hidden;">
                    <form class="form-group" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UploadJSON">
                        <div style="text-align: center; margin: auto;">
                            <input style="width: 100%; padding: 0 20px 0 30px;" asp-for="Post.File" type="file" />
                        </div>
                        <div style="text-align: center; margin-top: 6px;">
                            <input class="btn btn-warning" type="submit" value="Upload JSON File"/>
                        </div>
                        @if(TempData["JSONUpload_Error"] != null) { 
                            <div style="text-align: center; margin: 6px auto auto auto;">
                                <span style="color: red; width: 100%;">@TempData["JSONUpload_Error"]</span>
                            </div> 
                        }
                    </form>
                </div>

            </div>

            @* ------------------------------------------------------------------- *@

            @* RESULTS BOX WITH THE SEARCH RESULTS AFTER FILTERING THEM OUT *@

            @* ------------------------------------------------------------------- *@

            <div class="col-sm-7 videoResultsColumn">
                <h3 class="text-center videoResultsHeader">Search Results</h3>

                @* The List of Search Results, looping users *@
                <div class="videoSearchResults">
                    @foreach (var video in Model.Get)
                    {
                        <div class="videoSearch_MainBox">

                            @* User Profile Image  !! GRAVATAR & PROFILE PICTURE ADDED LATER !! *@
                            <img class="videoSearch_Thumbnail" height="64" width="64" src="@Html.Raw(video.Thumbnail)" />

                            <div class="videoSearch_ContentBox">
                                <div>

                                    @* First- and Last name, inclusing the Username *@
                                    <div style="white-space: nowrap; height: 28px;">
                                        <div class="videoSearch_TitleBox" style="max-width: 65%;"><h3 class="videoSearch_TitleText" style="width: 100%; text-overflow: ellipsis; overflow: hidden;" id="title">@video.Title</h3></div>
                                        <div class="videoSearch_TitleBox" style="margin-left: 1.5%;"><p class="videoSearch_TitleText" style="color: #707070;" id="userName">(@video.Video.UrlIdentity)</p></div>
                                    </div>

                                    @* Other Stats *@
                                    <div class="videoSearch_StatsBox" style="font-size: 16px;">
                                        <div class="row">

                                            @*----------------------------------------------*@

                                            @* Watch Count of Video *@
                                            <div class="col-sm-1" style="padding: 0; height: 28px; line-height: 28px;">
                                                <div style="font-size: 16px;">
                                                    <i class="fas fa-eye" style="color: #e91e63;"></i>&nbsp;@video.WatchCount
                                                </div>
                                            </div>

                                            @* Category *@
                                            <div class="col-sm-2 tooltip_hoverbox" style="padding: 0; height: 28px; line-height: 28px;">
                                                @if (video.WatchCount > 0 && video.IABCategoryNameAndPercentage.Count() > 0) {
                                                    <div style="font-size: 16px;">
                                                        <span><i class="fas fa-tag" style="color: #e91e63;"></i>&nbsp;YES!</span>
                                                    </div>

                                                    @* Tooltip itself *@
                                                    <div class="tooltip_resultbox" style="left: 10%; top: -480%; width: 150%; padding: 0 0 3px 0;">
                                                        @{ int i = 1; }
                                                        @foreach(var score in video.IABCategoryNameAndPercentage) {
                                                            <div style="margin: 3px 0 0 0; font-size: 14px; color: #e91e63;">
                                                                @if(i == 1) { <i class="fas fa-dice-one"></i> }
                                                                else if(i == 2) { <i class="fas fa-dice-two"></i> }
                                                                else if(i == 3) { <i class="fas fa-dice-three"></i> }
                                                                else if(i == 4) { <i class="fas fa-dice-four"></i> }
                                                                else if(i == 5) { <i class="fas fa-dice-five"></i> }
                                                                else { <i class="fas fa-dice-six"></i> }
                                                                <span style="margin: 0 0 0 2.5px; font-size: 14px;">@score.Object2</span><span>x</span>
                                                                <span style="margin: 0 0 0 4px; color: #707070;">@score.Object1</span>
                                                            </div>
                                                            i++;
                                                        }
                                                        @*<div style="margin: 3px 0 0 0; font-size: 12px;">
                                                            <i class="fas fa-handshake" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@video.IABCategoryNameAndPercentage.First()
                                                        </div>
                                                        <div style="margin: 3px 0 3px 0; font-size: 12px;">
                                                            <i class="fas fa-users" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@video.IABCategoryNameAndPercentage.Last()
                                                        </div>*@
                                                    </div>

                                                }
                                                else { <div><i class="fas fa-tag" style="color: #e91e63;"></i>&nbsp;nvt</div> }
                                            </div>

                                            @*----------------------------------------------------------------------------------*@

                                            @* PAD-Score (Pleasure) *@
                                            <div class="col-sm-2" style="padding: 0; height: 28px; line-height: 28px;">
                                                @if (video.WatchCount > 0 && video.PleaureAverageAndDeviation.Object1 != 0)
                                                {
                                                    <div class="tooltip_hoverbox videoSearch_PADScoreBox">                                                        
                                                        @{ 
                                                            double average = (100 * video.PleaureAverageAndDeviation.Object1 / 5);
                                                            double deviation = video.PleaureAverageAndDeviation.Object2;
                                                        }
                                                        <span style="float: left; color: #e91e63;"><i class="far fa-laugh-beam"></i></span>
                                                        <div class="progress videoSearch_ProgressBar">
                                                        @{
                                                            if(average > 60) { <div role="progressbar" class="progress-bar progress-bar-success" style="width: @Math.Round(average, 0)%"></div> }
                                                            else if(average >= 40) { <div role="progressbar" class="progress-bar progress-bar-warning" style="width: @Math.Round(average, 0)%"></div> }
                                                            else { <div role="progressbar" class="progress-bar progress-bar-danger" style="width: @Math.Round(average, 0)%"></div> }
                                                        }
                                                        </div>

                                                        @* Tooltip *@
                                                        <div class="tooltip_resultbox" style="left: 65%; top: -265%; width: 150%; padding: 0;">
                                                            <div style="margin: 3px 0 0 0; font-size: 12px;">
                                                                <i class="fas fa-balance-scale" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@deviation deviation
                                                            </div>
                                                            <div style="margin: 3px 0 3px 0; font-size: 12px;">
                                                                <i class="fas fa-users" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@average% average
                                                            </div>
                                                        </div>

                                                    </div>
                                                }
                                                else { <div><i class="far fa-laugh-beam" style="color: #e91e63;"></i>&nbsp;nvt</div>}
                                            </div>

                                            @*----------------------------------------------------------------------------------*@

                                            @* PAD-Score (Arrousal) *@
                                            <div class="col-sm-2" style="padding: 0; height: 28px; line-height: 28px;">
                                                @if (video.WatchCount > 0 && video.ArrouselAverageAndDeviation.Object1 != 0)
                                                {
                                                <div class="tooltip_hoverbox videoSearch_PADScoreBox">
                                                    
                                                    @{ 
                                                        double average = (100 * video.ArrouselAverageAndDeviation.Object1 / 5);
                                                        double deviation = video.ArrouselAverageAndDeviation.Object2;
                                                    }
                                                    <span style="float: left; color: #e91e63;"><i class="far fa-surprise"></i></span>
                                                    <div class="progress videoSearch_ProgressBar">
                                                        @{
                                                            if (average > 60) { <div role="progressbar" class="progress-bar progress-bar-success" style="width: @Math.Round(average, 0)%"></div> }
                                                            else if (average >= 40) { <div role="progressbar" class="progress-bar progress-bar-warning" style="width: @Math.Round(average, 0)%"></div> }
                                                            else { <div role="progressbar" class="progress-bar progress-bar-danger" style="width: @Math.Round(average, 0)%"></div> }
                                                        }
                                                    </div>

                                                    <div class="tooltip_resultbox" style="left: 65%; top: -265%; width: 150%; padding: 0;">
                                                        <div style="margin: 3px 0 0 0; font-size: 12px;">
                                                            <i class="fas fa-balance-scale" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@deviation deviation
                                                        </div>
                                                        <div style="margin: 3px 0 3px 0; font-size: 12px;">
                                                            <i class="fas fa-users" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@average% average
                                                        </div>
                                                    </div>

                                                </div>
                                                }
                                                else { <div><i class="far fa-surprise" style="color: #e91e63;"></i>&nbsp;nvt</div>}
                                            </div>
                                            
                                            @* PAD-Score (Dominance) *@
                                            <div class="col-sm-2" style="padding: 0; height: 28px; line-height: 28px;">
                                                @if (video.WatchCount > 0 && video.DominanceAverageAndDeviation.Object1 != 0)
                                                {
                                                <div class="tooltip_hoverbox videoSearch_PADScoreBox">
                                                    @{ 
                                                        double average = (100 * video.DominanceAverageAndDeviation.Object1 / 5);
                                                        double deviation = video.DominanceAverageAndDeviation.Object2;
                                                    }
                                                    <span style="float: left; color: #e91e63;"><i class="far fa-angry"></i></span>
                                                    <div class="progress videoSearch_ProgressBar">
                                                        @{
                                                            if (average > 60) { <div role="progressbar" class="progress-bar progress-bar-success" style="width: @Math.Round(average, 0)%"></div> }
                                                            else if (average >= 40) { <div role="progressbar" class="progress-bar progress-bar-warning" style="width: @Math.Round(average, 0)%"></div> }
                                                            else { <div role="progressbar" class="progress-bar progress-bar-danger" style="width: @Math.Round(average, 0)%"></div> }
                                                        }
                                                    </div>

                                                    <div class="tooltip_resultbox" style="left: -50%; top: -265%; width: 150%; padding: 0;">
                                                        <div style="margin: 3px 0 0 0; font-size: 12px;">
                                                            <i class="fas fa-balance-scale" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@deviation deviation
                                                        </div>
                                                        <div style="margin: 3px 0 3px 0; font-size: 12px;">
                                                            <i class="fas fa-users" style="margin: 0 8% 0 2%; color: #e91e63;"></i>@average% average
                                                        </div>
                                                    </div>

                                                </div>
                                                }
                                                else { <div><i class="far fa-angry" style="color: #e91e63;"></i>&nbsp;nvt</div>}
                                            </div>


                                            @*---------------------------------------------------------------*@

                                            <div class="col-sm-1" style="padding: 0; height: 28px; line-height: 28px;">
                                                <div style="float: left; font-size: 16px;">
                                                    <span><i class="fas fa-clipboard-check" style="color: #e91e63;"></i>&nbsp;@video.Video.Finished</span>
                                                </div>           
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @* Bottom text and actions, such as the amount of pages. *@
                <div class="userSearchCount" style="margin: 4%;">
                    <h6 class="text-center" style="width: 100%; color: #707070;">@Model.Get.Count() Results found</h6>
                </div>
            </div>

        </div>


            @* ------------------------------------------------------------------- *@

            @* THE END OF THE HTML. HET WERD TIJD. *@

            @* ------------------------------------------------------------------- *@


    </div>

</body>
</html>

