@using Microsoft.AspNetCore.Http
@using Service_Layer.SessionExtension
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VidCat Tool</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/AddUser.css" rel="stylesheet" />
        <link href="~/css/Logoutpage.css" rel="stylesheet" />
        <link href="~/css/Profile.css" rel="stylesheet" />
        <link href="~/css/ResetCredentials.css" rel="stylesheet" />
        <link href="~/css/review.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/UserManagement.css" rel="stylesheet" />
        <link href="~/css/videomanagement.css" rel="stylesheet" />
    </environment>


</head>
<body>
    <div class="row mainRow">
        <div class="nav-side-menu col-3">
            <div class="mainLogo">
                <a asp-controller="Home" asp-action="Dashboard"><img src="~/images/JWPlayerLogo.png" /></a>
            </div>
            <div class="brand">VidCat Tool</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a asp-controller="Review" asp-action="Info">Review</a>
                    </li>
                </ul>
            </div>
            <div class="seperatorLine"> </div>
            @if (Context.Session.IsUserAdmin())
            {
                <div class="adminPanelList">Admin Panel</div>
                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                            <a asp-controller="Admin" asp-action="UserManagement">User Management</a>
                            <a asp-controller="Admin" asp-action="VideoManagement">Video Management</a>
                            <a asp-controller="Admin" asp-action="Settings">Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="seperatorLine"> </div>
            }
            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="maincontainer col-9">
            <div class="pageTitleAndUser">
                <div class="pageTitle">@ViewData["Title"]</div>
                <div class="pageUser">
                    @if (Context.Session.GetString("ProfilePicture") == "not available")
                    {
                        <div>@Context.Session.GetUsernameKey()  <img src="~/images/user-placeholder.png" /></div>
                    }
                    else
                    {
                        <div>@Context.Session.GetUsernameKey()  <img src=@Context.Session.GetString("ProfilePicture") /></div>
                    }
                </div>
            </div>
            <div class="contentcontainer">
                @RenderBody()
            </div>
        </div>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
</script>
